@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">University App</h1>
</div>
<div class="row">
    <div class="col-md-4 text-center">
        <h2>Welcome to the University App</h2>
        <p>
            This application will help you manage enrollment for your university.
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/resources/mainPage.jpeg" class="flex-details-item" height="300" width="300" />
    </div>
    <div class="col-md-4">
        <img src="~/resources/mainPage2.jpeg" class="flex-details-item" height="300" width="300" />
    </div>
</div>